<!DOCTYPE html>
<html data-ng-app="samples">
<head>
    <title>AngularJS Project for Visualizing Commit-Propagation into the Super-Repository of Linux</title>
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link href="Content/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="Content/styles.css" rel="stylesheet" />
    <link href="Content/table.css" rel="stylesheet" />
    
    
</head>
<body ng-view>
    <h2>
        <img src="Content/images/angularShield.png" width="5%" height="5%"/>ngularJS Project: Visualizing Commit-Propagation --> The Super-Repository of Linux</h2>
    <div class="row">


        <!--<div class="span4 section">-->
        <!--    <h5>Mcidlinus Commits:</h5>-->
            <!--<ol> -->
                <!--<li ng-repeat="page in filtered = (pages |  filter:customfilter | orderBy:customsort)">-->
            <!--    <li ng-repeat="page in pages | filter:query">-->
            <!--        <a target="_blank" href="#/{{pages.indexOf(page)}}">{{page.mcidlinus}} {{page.comdate}} {{page.log}} </a>-->
                    <!--{{page}}-->
                    
            <!--    </li>-->
            <!--</ol>-->
        <!--</div>-->
        
        <div class="span8">
            <ng-include src="template"></ng-include>
            <!-- <div id="sampleContent"></div> -->
            <br />
            <div class="container">
                <h4>Search by: 
                    <select name="sel" style="width: 120px">
                        <option value="1">Commit ID</option>
                        <option value="2">Commit Date</option>
                        <option value="3">Commit Log</option>
                    </select>
                    <input ng-model="query" type="text"/>
                    
                        <label for="from">From:</label>
                        <input type="date" name="from"/>
                        <label for="to">To:</label>
                        <input type="date" name="to"/>
                    
                   
                </h4>
                <!--<textarea></textarea>-->
            </div>
        </div>
        
        <br><br><br>
        
        <div class="table-title">
            <h2>Commit List Linux Repo 2012</h2>
        </div>
        <table class="table-fill">
            <thead>
                <tr>
                    <th class="text-left">Commit ID</th>
                    <th class="text-left">Commit Date</th>
                    <th class="text-left">Commit Logs</th>
                </tr>
            </thead>
            <tbody class="table-hover">
                <tr ng-repeat ="page in pages | filter:query">
                    <td class="text-left"> <a target="_blank" href="#/{{pages.indexOf(page)}}">{{page.mcidlinus}} </a></td>
                    <td class="text-left">{{page.comdate | date:'medium'}} </td>
                    <td class="text-left">{{page.log}}</td>
                </tr>
                
            </tbody>
        </table>
    </div>

    <script src="Scripts/jquery.min.js"></script>
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.10/angular-route.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    
    
    <script>
        // http://plnkr.co/edit/XklvXtc1AZpndjLvXrh8?p=preview
        //http://lepidllama.net/blog/how-to-push-an-existing-cloud9-project-to-github/
        //*****************APP*******************
        //var urlBase = '/DemoPartials/';
        var samplesModule = angular.module('samples', ['ngRoute']);

        // samplesModule.config(function($controllerProvider, $provide) {
        //     //Used to handle loading controllers dynamically
        //     samplesModule.controller = $controllerProvider.register;
        //     samplesModule.factory = $provide.factory;
        // });
        
        //*****************CONFIG*******************
        samplesModule.config(function($routeProvider) {
        $routeProvider.
          when('/', {
            templateUrl: 'index.html',
            controller: 'samplesController'
          }).
          when('/:commitId', {
            templateUrl: '/app/partials/commitInfo.html',
            controller: 'samplesController'
          }).
          otherwise({
            redirectTo: '/'
          });
      });
      
     

        //*****************CONTROLLER*******************
        samplesModule.controller('samplesController', function (commitsJson, $scope, $templateCache, $http, $location, $routeParams) {
            
            commitsJson.commits.success(function(cdata) {
                var z =0;
                var pages = [];
                var mwhen = [];
                var pid = [];
                while(cdata.commits[z]){
                    
                    pages.push({mcidlinus: cdata.commits[z].cid, comdate: new Date(cdata.commits[z].comdate), log: cdata.commits[z].log});
                    
                    /*
                    pages[z] = cdata.commits[z].mcidlinus;
                    mwhen[z] = new Date(cdata.commits[z].mwhen);
                    pid[z] = cdata.commits[z].id;
                    */
                    z++;
                }
                console.log(pages,mwhen,pid);
                 $scope.pages = pages;
                 $scope.mwhen = mwhen;
                 $scope.pid = pid;
                
            });
            
            $scope.commitId = $routeParams.commitId;
            
            Array.prototype.unique = function() {
                var a = [];
                for (var i=0, l=this.length; i<l; i++)
                    if (a.indexOf(this[i]) === -1)
                        a.push(this[i]);
                return a;
            };
                        
            commitsJson.commitInfo.success(function(data) {
                var mcid = [];
                mcid = data.commitInfo[$routeParams.commitId];
                var cid = [];
                var repo = [];
                var comdate = [];
                var mwhen = [];
                var mcidlinus = [];
                var mnextmerge = [];
                var mnext = [];
                var i = 0;
                var len = mcid.length-1;
                var repoOpp = [];
                
                while (mcid[i]){
                    mnextmerge[i] = mcid[i].mnextmerge;
                    mnext[i] = mcid[i].mnext;
                    cid[i]= mcid[i].cid;
                    repo[i] = mcid[i].repo;
                    comdate[i] = new Date(mcid[i].comdate);
                    if(i==0){
                        mcidlinus[0] = mcid[i].mcidlinus;
                        mwhen[0] = new Date(mcid[i].mwhen);
                    }
                    repoOpp[i] = mcid[len].repo;
                    len--;
                    i++;
                }
                
                cid[i] = mcidlinus[0];
                repo[i] = "linus/linus";
                comdate[i] = mwhen[0];
                var repos = repoOpp.unique().reverse();
                repos[repos.length] = "linus/linus";
                var comdates = comdate.unique();
                var merges = mnextmerge.unique();
                
                $scope.cid = cid;
                $scope.repo = repos;
                $scope.comdate = comdates;
                
                
                // var fields = Object.keys(mcid[0]);
                // var csv = mcid.map(function(row){
                //   return fields.map(function(fieldName){
                //     return JSON.stringify(row[fieldName] || '');
                //   });
                // });
                // csv.unshift(fields);
                
                
                $scope.tree = function (scope, element, attrs){
                     
                    
                    var margin = {top: 10, right: 10, bottom: 100, left: 40},
                        margin2 = {top: 430, right: 10, bottom: 20, left: 40},
                        width = 960 - margin.left - margin.right,
                        height = 500 - margin.top - margin.bottom,
                        height2 = 500 - margin2.top - margin2.bottom;
                    
                    var parseDate = d3.time.format("%b %Y").parse;
                    
                    var x = d3.time.scale().range([0, width]),
                        x2 = d3.time.scale().range([0, width]),
                        y = d3.scale.linear().range([height, 0]),
                        y2 = d3.scale.linear().range([height2, 0]);
                    
                    var xAxis = d3.svg.axis().scale(x).orient("bottom"),
                        xAxis2 = d3.svg.axis().scale(x2).orient("bottom"),
                        yAxis = d3.svg.axis().scale(y).orient("left");
                    
                    var brush = d3.svg.brush()
                        .x(x2)
                        .on("brush", brushed);
                    
                    var area = d3.svg.area()
                        .interpolate("monotone")
                        .x(function(d) { return x(d.date); })
                        .y0(height)
                        .y1(function(d) { return y(d.price); });
                    
                    var area2 = d3.svg.area()
                        .interpolate("monotone")
                        .x(function(d) { return x2(d.date); })
                        .y0(height2)
                        .y1(function(d) { return y2(d.price); });
                    
                    var svg = d3.select("body").append("svg")
                        .attr("width", width + margin.left + margin.right)
                        .attr("height", height + margin.top + margin.bottom);
                    
                    svg.append("defs").append("clipPath")
                        .attr("id", "clip")
                        .append("rect")
                        .attr("width", width)
                        .attr("height", height);
                    
                    var focus = svg.append("g")
                        .attr("class", "focus")
                        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
                    
                    var context = svg.append("g")
                        .attr("class", "context")
                        .attr("transform", "translate(" + margin2.left + "," + margin2.top + ")");
                    
                    d3.csv("sp500.csv", type, function(error, data) {
                      x.domain(d3.extent(data.map(function(d) { return d.date; })));
                      y.domain([0, d3.max(data.map(function(d) { return d.price; }))]);
                      x2.domain(x.domain());
                      y2.domain(y.domain());
                    
                      focus.append("path")
                          .datum(data)
                          .attr("class", "area")
                          .attr("d", area);
                    
                      focus.append("g")
                          .attr("class", "x axis")
                          .attr("transform", "translate(0," + height + ")")
                          .call(xAxis);
                    
                      focus.append("g")
                          .attr("class", "y axis")
                          .call(yAxis);
                    
                      context.append("path")
                          .datum(data)
                          .attr("class", "area")
                          .attr("d", area2);
                    
                      context.append("g")
                          .attr("class", "x axis")
                          .attr("transform", "translate(0," + height2 + ")")
                          .call(xAxis2);
                    
                      context.append("g")
                          .attr("class", "x brush")
                          .call(brush)
                        .selectAll("rect")
                          .attr("y", -6)
                          .attr("height", height2 + 7);
                    });
                    
                    function brushed() {
                      x.domain(brush.empty() ? x2.domain() : brush.extent());
                      focus.select(".area").attr("d", area);
                      focus.select(".x.axis").call(xAxis);
                    }
                    
                    function type(d) {
                      d.date = parseDate(d.date);
                      d.price = +d.price;
                      return d;
                    }
             };
            });
            
            
            
            $scope.func = function(){
                for(var d in pages.commits){
                    console.log(d);
                }
            };
            
            $scope.template = '';
            $scope.html = '';
            
            
            
        });
        
          	
            // samplesModule.factory('commitsInfo1Json', ['$http', function($http) { 
            // return $http.get('/app/data/commitsInfo1.json') 
            //     .success(function(data) { 
            //       return data; 
            //     }) 
            //     .error(function(err) { 
            //       return err; 
            //     }); 
            //*****************FACTORY*******************    
            samplesModule.factory('commitsJson', ['$http', function($http) { 
                return {
                    commits: $http.get('/app/data/commits.json')
                        .success(function(data) { 
                            return data; 
                        }) 
                        .error(function(err) { 
                              return err;
                        }),
                        
                    commitInfo: $http.get('/app/data/commitInfo.json')
                        .success(function(data) { 
                            return data; 
                        }) 
                        .error(function(err) { 
                              return err;
                    })
                };
            }]); 
                
             //*****************DIRECTIVE*******************
        
        // samplesModule.directive("commitTree", function(commitsJson, $scope, $routeParams){
        //   	function link(scope, element, attrs){
        //          var data = [1, 2, 3, 4, 5];

        //           var scale = d3.scale.linear()
        //             .domain([1, 5])   // Data space
        //             .range([0, 200]); // Pixel space
            
        //           var svg = d3.select("body").append("svg")
        //             .attr("width",  250)
        //             .attr("height", 250);
            
        //           svg.selectAll("rect")
        //               .data(data)
        //             .enter().append("rect")
        //               .attr("x", function (d){ return scale(d); })
        //               .attr("y", 50)
        //               .attr("width",  20)
        //               .attr("height", 20);    
        //     }
            
        //   	return{
        //       restrict: 'E',
        //       scope: {},
        //       //templateUrl: '/app/partials/commitInfo.html',
        //       link: link
        //   	};
        // });	    
                
        
    </script>
</body>
</html>
