<!DOCTYPE html>
<html data-ng-app="samples">
<head>
    <title>AngularJS Project for Visualizing Commit-Propagation into the Super-Repository of Linux</title>
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link href="Content/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="Content/styles.css" rel="stylesheet" />
    
    
</head>
<body ng-view>
    <h2>
        <img src="Content/images/angularShield.png" />ngularJS Project: Visualizing Commit-Propagation into --> The Super-Repository of Linux</h2>
    <div class="row">
        <div class="span4 section">
            <h5>Mcidlinus Commits:</h5>
            <ol> 
                <!--<li ng-repeat="page in filtered = (pages |  filter:customfilter | orderBy:customsort)">-->
                <li ng-repeat="page in pages | filter:query">
                    <a target="_blank" href="#/{{pages.indexOf(page)}}">{{page}}</a>
                    <!--{{page}}-->
                    
                </li>
            </ol>
        </div>
        <div class="span8">
            <ng-include src="template"></ng-include>
            <!-- <div id="sampleContent"></div> -->
            <br />
            <div class="container">
                <h4>Search:</h4> <input ng-model="query" type="text"/>
                <!--<textarea></textarea>-->
            </div>
        </div>
    </div>

    <script src="Scripts/jquery.min.js"></script>
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.10/angular-route.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>

    <script>
    
        //http://lepidllama.net/blog/how-to-push-an-existing-cloud9-project-to-github/
        //*****************APP*******************
        //var urlBase = '/DemoPartials/';
        var samplesModule = angular.module('samples', ['ngRoute']);

        // samplesModule.config(function($controllerProvider, $provide) {
        //     //Used to handle loading controllers dynamically
        //     samplesModule.controller = $controllerProvider.register;
        //     samplesModule.factory = $provide.factory;
        // });
        
        //*****************CONFIG*******************
        samplesModule.config(function($routeProvider) {
        $routeProvider.
          when('/', {
            templateUrl: 'index.html',
            controller: 'samplesController'
          }).
          when('/:commitId', {
            templateUrl: '/app/partials/commitInfo.html',
            controller: 'samplesController'
          }).
          otherwise({
            redirectTo: '/'
          });
      });
      
     

        //*****************CONTROLLER*******************
        samplesModule.controller('samplesController', function (commitsJson, $scope, $templateCache, $http, $location, $routeParams) {
            
            commitsJson.commits.success(function(cdata) {
                var z =0;
                var pages = [];
                var mwhen = [];
                var pid = [];
                while(cdata.commits[z]){
                    pages[z] = cdata.commits[z].mcidlinus;
                    mwhen[z] = new Date(cdata.commits[z].mwhen);
                    pid[z] = cdata.commits[z].id;
                    z++;
                }
                console.log(pages,mwhen,pid);
                 $scope.pages = pages;
                 $scope.mwhen = mwhen;
                 $scope.pid = pid;
                
            });
            
            $scope.commitId = $routeParams.commitId;
            
            Array.prototype.unique = function() {
                var a = [];
                for (var i=0, l=this.length; i<l; i++)
                    if (a.indexOf(this[i]) === -1)
                        a.push(this[i]);
                return a;
            };
                        
            commitsJson.commitInfo.success(function(data) {
                var mcid = [];
                mcid = data.commitInfo[$routeParams.commitId];
                var cid = [];
                var repo = [];
                var comdate = [];
                var mwhen = [];
                var mcidlinus = [];
                var mnextmerge = [];
                var mnext = [];
                var i = 0;
                var len = mcid.length-1;
                var repoOpp = [];
                
                while (mcid[i]){
                    mnextmerge[i] = mcid[i].mnextmerge;
                    mnext[i] = mcid[i].mnext;
                    cid[i]= mcid[i].cid;
                    repo[i] = mcid[i].repo;
                    comdate[i] = new Date(mcid[i].comdate);
                    if(i==0){
                        mcidlinus[0] = mcid[i].mcidlinus;
                        mwhen[0] = new Date(mcid[i].mwhen);
                    }
                    repoOpp[i] = mcid[len].repo;
                    len--;
                    i++;
                }
                
                cid[i] = mcidlinus[0];
                repo[i] = "linus/linus";
                comdate[i] = mwhen[0];
                var repos = repoOpp.unique().reverse();
                repos[repos.length] = "linus/linus";
                var comdates = comdate.unique();
                var merges = mnextmerge.unique();
                
                $scope.cid = cid;
                $scope.repo = repos;
                $scope.comdate = comdates;
                
                
                // var fields = Object.keys(mcid[0]);
                // var csv = mcid.map(function(row){
                //   return fields.map(function(fieldName){
                //     return JSON.stringify(row[fieldName] || '');
                //   });
                // });
                // csv.unshift(fields);
                
                
                $scope.tree = function (scope, element, attrs){
                      var outerWidth = 1200;
                      var outerHeight = 700;
                      var margin = { left: 350, top: 20, right: 20, bottom: 100 };
                
                      var xAxisLabelText = "Commit Time";
                      var xAxisLabelOffset = 80;
                
                      var yAxisLabelText = "Repos";
                      var yAxisLabelOffset = 300;
                
                      var innerWidth  = outerWidth  - margin.left - margin.right;
                      var innerHeight = outerHeight - margin.top  - margin.bottom;
                
                      var svg = d3.select("body").append("svg")
                        .attr("width", outerWidth)
                        .attr("height", outerHeight);
                      var g = svg.append("g")
                        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
                      var path = g.append("path")
                        .attr("class", "chart-line");
                
                      var xAxisG = g.append("g")
                        .attr("class", "x axis")
                        .attr("transform", "translate(0," + innerHeight + ")")
                      var xAxisLabel = xAxisG.append("text")
                        .style("text-anchor", "middle")
                        .attr("transform", "translate(" + (innerWidth / 2) + "," + xAxisLabelOffset + ")")
                        .attr("class", "label")
                        .text(xAxisLabelText);
                
                      var yAxisG = g.append("g")
                        .attr("class", "y axis");

                      var yAxisLabel = yAxisG.append("text")
                        .style("text-anchor", "start")
                        .attr("transform", "translate(-" + yAxisLabelOffset + "," + (innerHeight / 2) + ") rotate(-90)")
                        .attr("class", "label")
                        .text(yAxisLabelText);
                
                      var xScale = d3.time.scale()
                        .domain(d3.extent(comdates))
                        .nice(d3.time.month)
                        .range([0, innerWidth]);
                      var yScale = d3.scale.ordinal()
                        .domain(repos)
                        .rangeRoundBands([0, innerHeight]);
                      var colorScale = d3.scale.category10();

                      var xAxis = d3.svg.axis().scale(xScale).orient("bottom")
                        .ticks(5)
                        //.tickFormat()
                        .outerTickSize(0);
                      var yAxis = d3.svg.axis().scale(yScale).orient("left")
                        .ticks(10)
                        //.tickFormat(d3.format("s"))
                        .outerTickSize(0);
                        
                      xAxisG.call(xAxis);
                      yAxisG.call(yAxis);
                      
                    var bandSize = yScale(repos[1])/2;
                    
                    console.log(bandSize,repos,comdate);
                      
                      var comLen = comdate.length;
                      var k = 0, l=0, nextInd=1;
                      while(k<comLen){
                          if(mnextmerge.indexOf(cid[k])==-1){
                              g.append("circle")
                                 .attr("cx", xScale(comdate[k]))
                                 .attr("cy", yScale(repo[k])+bandSize)
                                 .attr("stroke", colorScale(repo[k]))
                                 .attr("fill", "none")
                                 .attr("r", 10);
                                 k++;
                          }else {
                              g.append("rect")
                                 .attr("x", xScale(comdate[k]))
                                 .attr("y", yScale(repo[k])+bandSize)
                                 .attr("width", 20)
                                 .attr("height", 20)
                                 .attr("stroke", "black")
                                 .attr("fill", colorScale(repo[k]));
                                 k++;
                          }
                          if(l<mnext.length){
                            nextInd = cid.indexOf(mnext[l]);
                                g.append("line")
                                     .attr("x1", xScale(comdate[l]))
                                     .attr("y1", yScale(repo[l])+bandSize)
                                     .attr("x2", xScale(comdate[nextInd]))
                                     .attr("y2", yScale(repo[nextInd])+bandSize)
                                     .attr("stroke", colorScale(repo[l]))
                                     .attr("stroke-width", 5);
                                l++;
                          }else {
                              g.append("line")
                                     .attr("x1", xScale(comdate[comLen-1]))
                                     .attr("y1", yScale(repo[comLen-1])+bandSize)
                                     .attr("x2", 0)
                                     .attr("y2", yScale(repo[comLen-1])+bandSize)
                                     .attr("stroke", colorScale(repo[comLen-1]))
                                     .attr("stroke-width", 5);
                          }    
                      }
                   
             };
            });
            
            
            
            $scope.func = function(){
                for(var d in pages.commits){
                    console.log(d);
                }
            };
            
            $scope.template = '';
            $scope.html = '';
            
            
            
        });
        
          	
            // samplesModule.factory('commitsInfo1Json', ['$http', function($http) { 
            // return $http.get('/app/data/commitsInfo1.json') 
            //     .success(function(data) { 
            //       return data; 
            //     }) 
            //     .error(function(err) { 
            //       return err; 
            //     }); 
            //*****************FACTORY*******************    
            samplesModule.factory('commitsJson', ['$http', function($http) { 
                return {
                    commits: $http.get('/app/data/commits.json')
                        .success(function(data) { 
                            return data; 
                        }) 
                        .error(function(err) { 
                              return err;
                        }),
                        
                    commitInfo: $http.get('/app/data/commitInfo.json')
                        .success(function(data) { 
                            return data; 
                        }) 
                        .error(function(err) { 
                              return err;
                    })
                };
            }]); 
                
             //*****************DIRECTIVE*******************
        
        // samplesModule.directive("commitTree", function(commitsJson, $scope, $routeParams){
        //   	function link(scope, element, attrs){
        //          var data = [1, 2, 3, 4, 5];

        //           var scale = d3.scale.linear()
        //             .domain([1, 5])   // Data space
        //             .range([0, 200]); // Pixel space
            
        //           var svg = d3.select("body").append("svg")
        //             .attr("width",  250)
        //             .attr("height", 250);
            
        //           svg.selectAll("rect")
        //               .data(data)
        //             .enter().append("rect")
        //               .attr("x", function (d){ return scale(d); })
        //               .attr("y", 50)
        //               .attr("width",  20)
        //               .attr("height", 20);    
        //     }
            
        //   	return{
        //       restrict: 'E',
        //       scope: {},
        //       //templateUrl: '/app/partials/commitInfo.html',
        //       link: link
        //   	};
        // });	    
                
        
    </script>
</body>
</html>
