<!DOCTYPE html>
<html data-ng-app="samples">
<head>
    <title>AngularJS Project for Visualizing Commit-Propagation into the Super-Repository of Linux</title>
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link href="Content/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="Content/styles.css" rel="stylesheet" />
    <link href="Content/table.css" rel="stylesheet" />
    
    
</head>
<body ng-view>
    <h2>
        <img src="Content/images/angularShield.png" width="5%" height="5%"/>ngularJS Project: Visualizing Commit-Propagation >> The Super-Repository of Linux</h2>
    <div class="row">


        <!--<div class="span4 section">-->
        <!--    <h5>Mcidlinus Commits:</h5>-->
            <!--<ol> -->
                <!--<li ng-repeat="page in filtered = (pages |  filter:customfilter | orderBy:customsort)">-->
            <!--    <li ng-repeat="page in pages | filter:query">-->
            <!--        <a target="_blank" href="#/{{pages.indexOf(page)}}">{{page.mcidlinus}} {{page.comdate}} {{page.log}} </a>-->
                    <!--{{page}}-->
                    
            <!--    </li>-->
            <!--</ol>-->
        <!--</div>-->
        
        <div class="span8">
            <ng-include src="template"></ng-include>
            <!-- <div id="sampleContent"></div> -->
            <br />
            <div class="container">
                <h4>Search by: 
                    <!--<select name="sel" style="width: 120px">-->
                    <!--    <option value="1">Commit ID</option>-->
                    <!--    <option value="2">Commit Date</option>-->
                    <!--    <option value="3">Commit Log</option>-->
                    <!--</select>-->
                    <select ng-model="queryBy">
                        <option value="$">Commit ID / Log</option>
                        <!--<option value="mcidlinus">Commit ID</option>-->
                        <!--<option value="comdate">Commit Date</option>-->
                        <!--<option value="log">Log</option>-->
                    </select>   
                    <!--<input ng-model="query[queryBy]" type="text"/>-->
                     <input type="search" ng-model="q" placeholder="Enter commit id or log string..." aria-label="filter" />
                    
                        <label>From:</label>
                        <input type='text' placeholder='2012-01-01' ng-model='fromdate'/>  
                        <label>To:</label>
                        <input type='text' value='2012-12-31' ng-model='todate'/>
                    
                   
                </h4>
                <!--<textarea></textarea>-->
            </div>
        </div>
        
        <br><br><br>
        
        <div class="table-title">
            <br><br><br><br><br><br>
            <h2>Linux Repo Commits(2012)</h2>
        </div>
        <table class="table-fill">
            <thead>
                <tr>
                    <th class="text-left">Commit ID</th>
                    <th class="text-left">Commit Date</th>
                    <th class="text-left">Commit Logs</th>
                </tr>
            </thead>
            <tbody class="table-hover">
                <tr ng-repeat ="page in pages | filter:q as results">
                    <div ng-if="page.comdate >= fromdate && page.comdate <= todate">
                        <td class="text-left"> <a target="_blank" href="#/{{pages.indexOf(page)}}">{{page.mcidlinus}} </a></td>
                        <td class="text-left">{{page.comdate | date:'medium'}} </td>
                        <td class="text-left">{{page.log}}</td>
                </tr>
            </tbody>
        </table>
                    </div>
    </div>

    <script src="Scripts/jquery.min.js"></script>
    <script src="Scripts/angular.js"></script>
   
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.10/angular-route.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
   
    
    <script>
    
        
        //*****************APP*******************
        // Defining app variable named samplesModule;
        var samplesModule = angular.module('samples', ['ngRoute']);
       
        
        //*****************CONFIG*******************
        // Here we route to the commitInfo.html page which would load the {{tree}} variable(function)
        // Each commit generates a different tree based on the data corresponding to its index.
        // On clicking a commit from the super-repository of Linux in the home page its index
        // gets stored in the commitId variable which is further used to get the data in samplesModule.controller. 
        samplesModule.config(function($routeProvider) {
        $routeProvider.
          when('/', {
            templateUrl: 'index.html',
            controller: 'samplesController'
          }).
          when('/:commitId', {
            templateUrl: '/app/partials/commitInfo.html',
            controller: 'samplesController'
          }).
          otherwise({
            redirectTo: '/'
          });
      });
      
        
         //*****************FILTER*******************
        // samplesModule.filter("myfilter", function() {
        //   return function(items, from, to) {
        //         var df = parseDate(from);
        //         var dt = parseDate(to);
        //         var arrayToReturn = [];        
        //         for (var i=0; i<items.length; i++){
        //             var tf = new Date(items[i].date1 * 1000),
        //                 tt = new Date(items[i].date2 * 1000);
        //             if (tf > df && tt < dt)  {
        //                 arrayToReturn.push(items[i]);
        //             }
        //         }
                
        //         return arrayToReturn;
        //   };
        // });
        //*****************CONTROLLER*******************
        // Controller helps in binding the data. 
        // Here we define variables with the $scope which we can then directly use with our HTML elements. 
        samplesModule.controller('samplesController', function (commitsJson, $scope, $templateCache, $http, $location, $routeParams) {
            
            // Here we get the data for the home page using the commitsJson factory from commits.json file.
            // It has the list of commits(merges) in the Linux super-repository, commit dates & logs.
            commitsJson.commits.success(function(cdata) {
                var z =0;
                var pages = [];
              
                while(cdata.commits[z]){
                    
                    pages.push({mcidlinus: cdata.commits[z].cid, comdate: new Date(cdata.commits[z].comdate), log: cdata.commits[z].log});
                  
                    z++;
                }
                //console.log(pages);
                
                $scope.query = {}; 
                $scope.queryBy = '$';
                $scope.pages = pages;
                $scope.DateFilter = function () {
                    //console.log("dateeeeeeeeeeee hellooooooooo");
                };
                 
            });
            
            $scope.commitId = $routeParams.commitId;
            
            // returns unique elements for a given array
            Array.prototype.unique = function() {
                var a = [];
                for (var i=0, l=this.length; i<l; i++)
                    if (a.indexOf(this[i]) === -1)
                        a.push(this[i]);
                return a;
            };
                        
            // Here we get the data for the home page using the commitsJson factory from commitInfo.json file.
            // It has all the data for all the commits.
            commitsJson.commitInfo.success(function(data) {
                var mcid = [];
                // Only the data for a given merge selected based on its index from the JSON.
                mcid = data.commitInfo[$routeParams.commitId];
                
                var cid = [];
                var repo = [];
                var comdate = [];
                var mwhen = [];
                var mcidlinus = [];
                var mnextmerge = [];
                var mnext = [];
                var i = 0;
                var len = mcid.length-1;
                var repoOpp = [];
                
                var drawData=[];
                
                while (mcid[i]){
                    
                    drawData.push({cid: mcid[i].cid, mnext: mcid[i].mnext, mnextmerge: mcid[i].mnextmerge, repo: mcid[i].repo, comdate: new Date(mcid[i].comdate)});
                    
                    mnextmerge[i] = mcid[i].mnextmerge;
                    mnext[i] = mcid[i].mnext;
                    cid[i]= mcid[i].cid;
                    repo[i] = mcid[i].repo;
                    comdate[i] = new Date(mcid[i].comdate);
                    if(i==0){
                        mcidlinus[0] = mcid[i].mcidlinus;
                        mwhen[0] = new Date(mcid[i].mwhen);
                    }
                    repoOpp[i] = mcid[len].repo;
                    len--;
                    i++;
                }
                
                drawData.push({cid: mcidlinus[0], mnext: "", mnextmerge: "", repo: "linus/linus", comdate:  mwhen[0]});
                
                cid[i] = mcidlinus[0];
                repo[i] = "linus/linus";
                comdate[i] = mwhen[0];
                var repos = repoOpp.unique().reverse();
                repos[repos.length] = "linus/linus";
                var comdates = comdate.unique();
                var merges = mnextmerge.unique();
                 
                var erepo = repo[i-1];
                function endCids(){
                    var id = 0;
                    var ecid = [];
                    for(var t=0; t<i; t++){
                        if(mnext.indexOf(cid[t])==-1){ //&& repo[t] != erepo){
                            ecid[id] = cid[t];
                            id++;
                        }
                    }
                    return ecid;
                }
                var ecids = endCids();
                //var tempecids = endCids();
                
                function eMergeDates(){
                    var emergedate = [];
                    var id=0;
                    
                    for(var t=0; t<ecids.length; t++){
                            var indecid = cid.indexOf(ecids[t]);
                            //var firstindecid = cid.indexOf(ecids[t]);
                            var emnext = mnext[indecid];
                            var indemnext = cid.indexOf(emnext);
                            
                            while(true){
                                if (repo[indecid]==erepo){
                                    emergedate[id] = comdate[indecid];
                                    id++;
                                    break;
                                } else{
                                    indecid = cid.indexOf(mnext[indecid]);
                                    continue;
                                }
                            }
                        }
                        return emergedate;
                    }
                var emergedates = eMergeDates();
                
                var tempedates = eMergeDates();
                var date_sort_asc = function (date1, date2) {
                  if (date1 > date2) return 1;
                  if (date1 < date2) return -1;
                  return 0;
                };
                var sortedemergedates = tempedates.sort(date_sort_asc);//.unique();
                
                var sortedEcid = function() {
                    var flag = 0;
                    var sortedecid = [];
                    for(var t=0; t<sortedemergedates.length; t++){
                        if(t!=0){
                            if(sortedemergedates[t]==sortedemergedates[t-1]){
                                flag++;
                            }else{
                                flag = 0;
                            }
                        }
                        var tempind;
                        for(var k=0; k<=flag; k++){
                            if(k==0){
                                tempind = emergedates.indexOf(sortedemergedates[t]);
                            }else{
                                tempind = emergedates.indexOf(sortedemergedates[t],tempind+1);
                            }
                        }
                        sortedecid[t]=ecids[tempind];
                    }
                    return sortedecid;
                };
                var sortedecids = sortedEcid();
                
                var repoOrder = function() {
                    var orderedrepo = [];
                    var oid = 0;
                    
                    for(var t=0; t<sortedecids.length; t++){
                            var id=0;
                            var temporderedrepo = [];
                            var indecid = cid.indexOf(sortedecids[t]);
                            var firstindecid = cid.indexOf(sortedecids[t]);
                            //var emnext = mnext[indecid];
                            //var indemnext = cid.indexOf(emnext);
                            
                            while(1){
                                
                                if(t==0 && repo[firstindecid]==erepo){
                                    if(mnext[indecid]==mcidlinus[0]){
                                        break;
                                    }
                                    else if(repo[indecid]!=erepo && orderedrepo.indexOf(repo[indecid])==-1){
                                            orderedrepo[oid] = repo[indecid];
                                            oid++;
                                    }
                                    indecid = cid.indexOf(mnext[indecid]);
                                    continue;
                                }
                                
                                else if(repo[indecid]!=erepo && orderedrepo.indexOf(repo[indecid])==-1 && temporderedrepo.indexOf(repo[indecid])==-1){
                                    temporderedrepo[id]=repo[indecid];
                                    id++;
                                    indecid = cid.indexOf(mnext[indecid]);
                                    continue;
                                }
                                
                                else if(repo[indecid]==erepo){
                                    break;
                                }
                                
                                indecid = cid.indexOf(mnext[indecid]);
                            }
                            
                            if(repo[firstindecid]!=erepo){
                                for(var x=temporderedrepo.length-1; x>=0; x--){
                                    orderedrepo[oid] = temporderedrepo[x];
                                    oid++;
                                }    
                            }
                    }
                        
                        return orderedrepo;
                };                
                
                var temporderedrepos = repoOrder();
                var orderedrepos = temporderedrepos.reverse();
                orderedrepos[orderedrepos.length]=erepo;
                orderedrepos[orderedrepos.length]="linus/linus";
                
                //var orderedrepos = repos;
                $scope.cid = cid;
                $scope.repo = repos;
                $scope.comdate = comdates;
                
                
                // var fields = Object.keys(mcid[0]);
                // var csv = mcid.map(function(row){
                //   return fields.map(function(fieldName){
                //     return JSON.stringify(row[fieldName] || '');
                //   });
                // });
                // csv.unshift(fields);
                
                // The visualization is generated within the $scope.tree function.
                // The {{tree}} variable is used in the commitInfo.html page to bind the data
                // for the selected commit and thus we view a different visualization each time 
                // when the commitInfo.html page is loaded.
                // D3 library is used.
                $scope.tree = function (scope, element, attrs){
                    
                    var outerWidth = 1500;
                      var outerHeight = 900;
                      var margin = { left: 450, top: 20, right: 20, bottom: 100 };
                
                      var xAxisLabelText = "Commit Time";
                      var xAxisLabelOffset = 80;
                
                      var yAxisLabelText = "Repos";
                      var yAxisLabelOffset = 400;
                
                      var innerWidth  = outerWidth  - margin.left - margin.right;
                      var innerHeight = outerHeight - margin.top  - margin.bottom;
                              
                       var svg = d3.select("body")
                        .append("svg")
                        .attr("class","pane")
                        .attr("width", outerWidth)
                        .attr("height", outerHeight);
                     
                      var g = svg.append("g")
                        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
                        
                      var path = g.append("path")
                        .attr("class", "chart-line");
                
                      var xAxisG = g.append("g")
                        .attr("class", "x axis")
                        .attr("transform", "translate(0," + innerHeight + ")");
                      
                      var xAxisLabel = xAxisG.append("text")
                        .style("text-anchor", "middle")
                        .attr("transform", "translate(" + (innerWidth / 2) + "," + xAxisLabelOffset + ")")
                        .attr("class", "label")
                        .text(xAxisLabelText);
                
                      var yAxisG = g.append("g")
                        .attr("class", "y axis");
                      
                      var yAxisLabel = yAxisG.append("text")
                        .style("text-anchor", "start")
                        .attr("transform", "translate(-" + yAxisLabelOffset + "," + (innerHeight / 2) + ") rotate(-90)")
                        .attr("class", "label")
                        .text(yAxisLabelText);
                    
                    var yDom = function(){
                          var arr = [];
                          for(var i = 0; i<orderedrepos.length; i++){
                              arr[i] = i+1;
                          }
                          return arr;
                      }; 
                      
                      var xScale = d3.time.scale()
                        .domain(d3.extent(comdates))
                        .nice(d3.time.month)
                        .range([0, innerWidth]);
                    
                     var yScale = d3.scale.linear()
                        .domain([0,yDom().length+1])
                        .range([0, innerHeight]);
                      
                      var colorScale = d3.scale.category20();
                      
                      var xAxis = d3.svg.axis().scale(xScale).orient("bottom")
                        .ticks(5)
                        //.tickFormat()
                        .outerTickSize(0);
                        
                      var yAxis = d3.svg.axis().scale(yScale).orient("left")
                        .ticks(10)
                        //.tickFormat(d3.format("s"))
                         .tickValues(yDom)
                        .tickFormat(function(d,i){ return orderedrepos[i]; })
                        .outerTickSize(0);
                        
                      xAxisG.call(xAxis);
                      yAxisG.call(yAxis);
                    
                      var comLen = comdate.length;
                      var k = 0, l=0, nextInd=1;
                   
                      var clip = g.append("defs").append("svg:clipPath")
                        .attr("id", "clip")
                        .append("svg:rect")
                        .attr("id", "clip-rect")
                        .attr("width", innerWidth)
                        .attr("height", innerHeight);
                        
                    
                    g.append("g")
                        .attr("id","figure")
                        .attr("clip-path", "url(#clip)")
                        .selectAll("circle")
                        .data(drawData)
                        .enter()
                        .append("circle")
                        .attr("cx", function(d) { 
                            if (merges.indexOf(d.cid)==-1) { 
                                return xScale(d.comdate);
                                
                            } else{
                                return -100;
                            } } )
                        .attr("cy", function(d) { 
                            if (merges.indexOf(d.cid)==-1) { 
                                return yScale(orderedrepos.indexOf(d.repo)+1);
                                
                            } else{
                                return -100;
                            } })
                        .attr("r", 10)
                        .attr("stroke", function(d) { 
                            return colorScale(d.repo); 
                        })
                        .attr("stroke-width", 1)
                        .attr("fill", "none")
                        .on("click", function (d){
                            window.open("https://github.com/torvalds/linux/commit/"+d.cid, '_blank');
                         })
                        .on("mouseover", function (d) {                                  
                          		d3.select(this)                          
                            	.style("stroke-width", 6);
                            })
                        .on("mouseout", function (d) {                                  
                          		d3.select(this)                          
                            	.style("stroke-width", 1);
                            })
                        .append("svg:title")
                        .text(function(d) {
                            return "Commit ID: \t"+d.cid+"\nNext Commit: \t"+d.mnext+"\nNext Merge: \t"+d.mnextmerge+"\nCommit Date: \t"+d.comdate+"\nRepository: \t"+d.repo; 
                        });
                              
                        
                      g.select("#figure")//.attr("clip-path", "url(#clip)")
                        .selectAll("rect")
                        .data(drawData)
                        .enter().append("rect")
                        .attr("x", function(d) {
                            if (merges.indexOf(d.cid)!=-1) {
                                return xScale(d.comdate); 
                                
                            } else{return -100;
                            } } )
                        .attr("y", function(d) {
                            if (merges.indexOf(d.cid)!=-1) {
                                return yScale(orderedrepos.indexOf(d.repo)+1);
                                
                            } else{
                                return -100;
                            } })
                        .attr("width", 20)
                        .attr("height", 20)
                        .attr("stroke", "black")
                        .attr("stroke-width", 1)
                        .on("mouseover", function (d) {                                  
                          		d3.select(this)                          
                            	.style("stroke-width", 6);
                            })
                        .on("mouseout", function (d) {                                  
                          		d3.select(this)                          
                            	.style("stroke-width", 1);
                            })
                        .attr("fill", function(d) {
                            return colorScale(d.repo); 
                        })
                        .on("click", function (d){
                            window.open("https://github.com/torvalds/linux/commit/"+d.cid, '_blank');
                         })
                        .append("svg:title")
                        .text(function(d) {
                            return "Commit ID: \t"+d.cid+"\nNext Commit: \t"+d.mnext+"\nNext Merge: \t"+d.mnextmerge+"\nCommit Date: \t"+d.comdate+"\nRepository: \t"+d.repo;
                        });
                        
                        
                       g.select("#figure")
                            .selectAll("line")
                            .data(drawData)
                            .enter().append("line")
                            .attr("x1", function(d){
                                return xScale(d.comdate);
                            })
                            .attr("y1", function(d){
                                return yScale(orderedrepos.indexOf(d.repo)+1);
                            })//+bandSize)
                            .attr("x2", function(d){
                                if(d.mnext==""){
                                    return 0;
                                    
                                } else {
                                    return xScale(comdate[cid.indexOf(d.mnext)]);
                                } }) 
                            .attr("y2", function(d){
                                if(d.mnext==""){
                                    return yScale(orderedrepos.indexOf("linus/linus")+1); 
                                    
                                } else { 
                                    return yScale(orderedrepos.indexOf(repo[cid.indexOf(d.mnext)])+1);
                                }})
                            .attr("stroke", function(d) {
                                return colorScale(d.repo);
                            })
                            .attr("stroke-width", 3)
                            .on("mouseover", function (d) {                                  
                          		d3.select(this)                          
                            	.style("stroke-width", 6);
                            })
                            .on("mouseout", function (d) {                                  
                          		d3.select(this)                          
                            	.style("stroke-width", 3);
                            })
                            .append("svg:title")
                            .text(function(d) {
                                return ""+d.repo; 
                            });
                   
                     var zoom = d3.behavior.zoom()
                                  .x(xScale)
                                  //.y(yScale)
                                  .scaleExtent([0.1, 1000000])
                                  .on("zoom", draw);
                     
                     svg.call(zoom);
                     
                     function draw() {
                            svg.select("g.x.axis").call(xAxis);
                            var circles =  g.select("#figure").selectAll("circle");
                              circles
                             .attr("cx", function(d) { 
                                 return xScale(d.comdate); 
                             });
                             
                            var rectangles =  g.select("#figure").selectAll("rect");
                              rectangles
                             .attr("x", function(d) {
                                 return xScale(d.comdate); 
                             });
                            
                             var lines =  g.select("#figure").selectAll("line");
                              lines
                             .attr("x1", function(d) {
                                 return xScale(d.comdate); 
                             })
                             .attr("x2", function(d){
                                 if(d.mnext==""){
                                     return 0;
                                     
                                 } else {return xScale(comdate[cid.indexOf(d.mnext)]);
                                 } });
                            
                            // svg.select("path.area").attr("d", area);
                            // svg.select("path.line").attr("d", line);
                            console.log(drawData[2].repo+"\n\n"+ecids+"...\n"+sortedecids+"...\n"+emergedates+"...\n"+sortedemergedates+"...\n"+erepo+"...\n"+ecids.length+"..."+sortedemergedates.length+"...\n"+repos+"...\n"+orderedrepos);                    }        
                                
             };
            });
            
            
            
            $scope.func = function(){
                for(var d in pages.commits){
                    console.log(d);
                }
            };
            
            $scope.template = '';
            $scope.html = '';
            
            
            
        });
        
          	
            // samplesModule.factory('commitsInfo1Json', ['$http', function($http) { 
            // return $http.get('/app/data/commitsInfo1.json') 
            //     .success(function(data) { 
            //       return data; 
            //     }) 
            //     .error(function(err) { 
            //       return err; 
            //     }); 
            //*****************FACTORY*******************
            // Here we define a factory named commitsJson which can be directly used in our samplesController.
            // The factory is a service that loads the data from the json file into a variable.
            samplesModule.factory('commitsJson', ['$http', function($http) { 
                return {
                    commits: $http.get('/app/data/commits.json')
                        .success(function(data) { 
                            return data; 
                        }) 
                        .error(function(err) { 
                              return err;
                        }),
                        
                    commitInfo: $http.get('/app/data/commitInfo.json')
                        .success(function(data) { 
                            return data; 
                        }) 
                        .error(function(err) { 
                              return err;
                    })
                };
            }]); 
                
             //*****************DIRECTIVE*******************
        
        // samplesModule.directive("commitTree", function(commitsJson, $scope, $routeParams){
        //   	function link(scope, element, attrs){
        //          var data = [1, 2, 3, 4, 5];
        //           var scale = d3.scale.linear()
        //             .domain([1, 5])   // Data space
        //             .range([0, 200]); // Pixel space
            
        //           var svg = d3.select("body").append("svg")
        //             .attr("width",  250)
        //             .attr("height", 250);
            
        //           svg.selectAll("rect")
        //               .data(data)
        //             .enter().append("rect")
        //               .attr("x", function (d){ return scale(d); })
        //               .attr("y", 50)
        //               .attr("width",  20)
        //               .attr("height", 20);    
        //     }
            
        //   	return{
        //       restrict: 'E',
        //       scope: {},
        //       //templateUrl: '/app/partials/commitInfo.html',
        //       link: link
        //   	};
        // });	    
                
        
    </script>
</body>
</html>